@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#root > main {
  height: 100vh;
  width: 100%;
  background-image: url('https://images.hdqwalls.com/wallpapers/planet-mars-minimalism-5k-uo.jpg');
  background-size: cover;
  font-family: 'Roboto', serif;
  color: #fff;
  display: flex;
  flex-direction: column;

  h1, h2, h3 {
    font-family: 'Open Sans', serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: lighter;
  } 

  .card-list {
    display: flex;
  }
}