@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#root > main {
  height: 100vh;
  width: 100%;
  background-image: url('https://images.hdqwalls.com/wallpapers/planet-mars-minimalism-5k-uo.jpg');
  background-size: cover;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  h1, h2, h3, h4 {
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .logo {
    align-self: flex-end;
    margin: 50px 50px 0 0;
  }

  .main-title {
    margin-left: 50px;
    margin-top: -50px;
  } 

  .card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 50px;

    .card {
      height: 280px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 30px;
      margin: 0 20px;
      transition: transform .3s ease-in;

      h3 {
        text-align: center;
        line-height: 0.8em;
        margin-top: 30px;
      }

      h4 {
        text-align: center;
        line-height: 0.8em;
        margin-bottom: 30px;
      }

      hr {
        width: 50px;
      }

      .stats-wrapper {
        margin: 30px 0 0 30px;
        p {
          margin-top: 20px;
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;

    .footer-links {
      margin-left: 50px;
      a {
        color: rgba(255, 255, 255, 0.87);
        text-decoration: none;
        font-size: 14px;
        margin: 15px 15px 0 0;
        padding: 0px 5px;
      }
    }

    .footer-copyright {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-align: right;
      margin-right: 50px;
    }
  }
}